<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stripe Payment Demo</title>
</head>

<body>
    <h3>Welcome to Payment Gateway</h3>
    <form action="payment" method="POST">
        <script src="//checkout.stripe.com/v2/checkout.js" class="stripe-button" data-key="<%=key%>" data-amount="7000"
            data-currency="usd" data-name="Momin Naveed" data-description="Desc of Momin" data-locale="auto"></script>
    </form>
    </bodydncsdcsd </html>